<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Calumni</title>

<style type="text/css">
#login-form{

width:400px;

margin:100px auto;

border: 1px solid gray;

border-radius: 5px;

padding: 15px;

}
</style>

</head>

{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<body>

<form id="login-form" method="POST" action="{% url 'login'%}" style="text-align: center;" >
    <p style="text-align: center;">LOGIN</p>
    {% csrf_token %}
    Username
    <br>
    <input name="username" type="text" value="">
    <br><br>
    Password
    <br>
    <input name="password" type="password" value="">
    <br>
    
    {% if error %}
    <br>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" style="font-size:12px; margin:auto; width: 30% auto;">
    <a style="text-align: center;"><strong>아이고!</strong> {{ error }}
    </a>    
    </div>
    {% endif %}
    <br>
    <input class="btn" type="submit" value="Login" style="color: white; background-color: #66C4A8; ">
    <input class="btn" type="button" value=signup onclick="location.href={% url 'signup' %}" style="color: white; background-color: #66C4A8;">

</form>



</body>

{% endblock %}