{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document <!-- 상세페이지 --></title>

    <!-- <link href="font.css" rel="stylesheet" -->

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <style>
      h2{
        font-family: "Nanum Gothic", sans-serif;
        font-size: 20px;
      }
    
    </style>



</head>
{% block content %}
<body>
    <div class="box" style="text-align: center; font-display: center; font-size: 20px;" >

        <h1 class="title">제목 : {{ post.title }}</h1>
        <h2 class="apply">합격한 기업, 직무 : {{ post.apply }}</h2>
        <h3 class="score">학점 : {{ post.score }}</h3>
        <h4 class="cer">자격증 : {{ post.cer }}</h4>
        <h5 class="write">합격수기 : {{ post.write }}</h5>
        <h5 class="body">공모전 : {{ post.body }}</h6>
        <h5 class="act">대외활동 : {{ post.act }}</h7>
        <h5 class="schoolact">교내활동 : {{ post.schoolact }}</h8>
    </div>

    {% endblock %}
    
</body>
    
</html>