{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document <!-- 상세페이지 --></title>

    <!-- <link href="font.css" rel="stylesheet" -->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <style type="text/css">
        .answer{
        width:700px;
        text-align:center;
        }  


    </style>
</head>


<body>

          <div class="card" style="margin-top:50px; margin-left:50px; margin-right:50px; border-radius:10px;">
            <div class="card-body">
              <div class="card-body-question" style="font-size:25px; font-weight:600; color:#6E6E6E;">제목</div><br>
              <div class="answer" style="font-size:20px;">{{ post.title }}</div>

                <br><br>
                <div class="dropdown-divider"></div>

                <div class="card-body-question" style="font-size:25px; font-weight:600; color:#6E6E6E;">합격한 기업, 직무</div><br>
                <div class="answer" style="font-size:20px; white-space: pre-wrap;">{{ post.apply }}</div>

                <br><br>
                <div class="dropdown-divider"></div>

                <div class="card-body-question" style="font-size:25px; font-weight:600; color:#6E6E6E;">학점</div><br>
                <div class="answer" style="font-size:20px; white-space: pre-wrap;">{{ post.score }}</div>

                <br><br>
                <div class="dropdown-divider"></div>

                <div class="card-body-question" style="font-size:25px; font-weight:600; color:#6E6E6E;">자격증</div><br>
                <div class="answer" style="font-size:20px; white-space: pre-wrap;">{{ post.cer }}</div>

                <br><br>
                <div class="dropdown-divider"></div>

                <div class="card-body-question" style="font-size:25px; font-weight:600; color:#6E6E6E;">합격수기</div><br>
                <div class="answer" style="font-size:20px; white-space: pre-wrap;">{{ post.write }}</div>

                <br><br>
                <div class="dropdown-divider"></div>

                <div class="card-body-question" style="font-size:25px; font-weight:600; color:#6E6E6E;">공모전</div><br>
                <div class="answer" style="font-size:20px; white-space: pre-wrap;">{{ post.body }}</div>

                <br><br>
                <div class="dropdown-divider"></div>

                <div class="card-body-act" style="font-size:25px; font-weight:600; color:#6E6E6E;">대외활동</div><br>
                <div class="answer" style="font-size:20px; white-space: pre-wrap;">{{ post.act }}</div>

                <br><br>
                <div class="dropdown-divider"></div>

                <div class="card-body-schoolact" style="font-size:25px; font-weight:600; color:#6E6E6E;">교내활동</div><br>
                <div class="answer" style="font-size:20px; white-space: pre-wrap;">{{ post.schoolact }}</div>
            </div>
          </div>
       
        <br><br>
<form action="{% url 'delete' post.id %}" id="post-delete" method="POST">
        {% csrf_token %}
        </form>

        <div class="input-container">
        <input type="submit" class="delete" form="post-delete" value="글 삭제하기"/>
        </div>
     
<form action="{% url 'renew' post.id %}" id="post-renew" method="POST">
        {% csrf_token %}
        </form>

        <div class="input-container">
        <input type="submit" class="renew" form="post-renew" value="글 수정하기"/>
        </div>
<div>
    <form action="{% url 'comment' post.id %}" method="POST">
      {% csrf_token %}
      <input type="text" name="comment_username" placeholder="닉네임">
      <textarea cols="30" rows="10" name="comment_body" placeholder="댓글을 입력해주세요"></textarea>
      <input type="submit" value="댓글 작성"></form>
</div>

{% for comment in post.comment_set.all %}
  <div>
    <span>{{ comment.username }}</span>
    <span>{{ comment.pub_date }}</span>
    <p>{{ comment.body }}</p>
  </div>
  {% endfor %}
    
  
</body>
{% endblock %}    
</html>