
{% extends 'base.html' %}
{% load staticfiles %}

{% block csslink %}
<link rel="stylesheet" href="{% static 'css/home/home.css' %}">
{% endblock %}

{% block title %}
<title>Calumni</title>
{% endblock %}
<head>
</head>

{% block content %}

<body>
  <div class="header-desc">
    <h1>선배님의 취업족보, 가르쳐주세요!</h1>
  </div>

  <!-- 배너 슬라이드 -->
  <div class="slide">
    <input type="radio" name="pos" id="pos1" checked >
    <input type="radio" name="pos" id="pos2">
    <input type="radio" name="pos" id="pos3">
    <input type="radio" name="pos" id="pos4">
    <ul>
      <li class="slide-item">
        <a href="{% url 'board' 'd' 'service' %}"></a>
      </li>
      <li class="slide-item">
        <a href="{% url 'board' 'b' 'official' %}"></a>
      </li>
      <li class="slide-item">
        <a href="{% url 'board' 'c' 'admin' %}"></a>
      </li>
      <li class="slide-item">
        <a href="{% url 'board' 'b' 'private' %}"></a>
      </li>
    </ul>
    <p class="bullet">
      <label for="pos1">1</label>
      <label for="pos2">2</label>
      <label for="pos3">3</label>
      <label for="pos4">4</label>
    </p>
  </div>

  <div class="post-section" id="side-left-top" >
    <div class="post-header">
      <span>취업 합격 후기</span>
      
      <!--<span>전체 보기</span>-->
      <a href="{% url 'bigboard' 'b' %}?board=취업">전체보기</a>
    </div>
    <div class="post-content">
    {% for employ in employs %}
      <a href="{% url 'detail' employ.id %}">
        <div class="post-item">
          <span>{{ employ.title }}</span>
          <span>{{ username }}</span>
        </div>
      </a>
    {% endfor %}
    </div>
  </div>

  <div class="post-section" id="side-right-top" >
      <div class="post-header">
        <span>공무원 합격 후기</span>
        <a href="{% url 'bigboard' 'b' %}?board=공무원">전체보기</a>
      </div>
      <div class="post-content">
      {% for official in officials %}
        <a href="{% url 'detail' official.id %}">
          <div class="post-item">
            <span>{{ official.title }}</span>
            <span>{{ username }}</span>
          </div>
        </a>
      {% endfor %}
      </div>
    </div>

  <div class="post-section" id="side-left-bottom" >
      <div class="post-header">
        <span>대학원 합격 후기</span>
        <a href="{% url 'bigboard' 'a' %}?board=대학원">전체보기</a>
      </div>
      <div class="post-content">
      {% for univ in univs %}
        <a href="{% url 'detail' univ.id %}">
          <div class="post-item">
            <span>{{ univ.title }}</span>
            <span>{{ username }}</span>
          </div>
        </a>
      {% endfor %}
      </div>
    </div>

    <div class="post-section" id="side-right-bottom" >
        <div class="post-header">
          <span>창업 성공 후기</span>
          <a href="{% url 'bigboard' 'd' %}?board=창업">전체보기</a>
        </div>
        <div class="post-content">
        {% for make in makes %}
          <a href="{% url 'detail' make.id %}">
            <div class="post-item">
              <span>{{ make.title }}</span>
              <span>{{ username }}</span>
            </div>
          </a>
        {% endfor %}
        </div>
      </div>


  {% endblock %}
</body>

</html>